[user]
	name = Jade Turner
	email = spacey-sooty@proton.me
	signingKey = 6A339C474B1ED4BD
[core]
	editor = nvim
[init]
	defaultBranch = master
[alias]
    cmt = commit -s
    ac = commit -asm
[pull]
	rebase = true
[commit]
	gpgsign = true
